In [4]:
### WFM_Whitefish_Mountain.ipynb
### selects resorts in Montana, excludes Bg sky Resort as 
### in 2007 this resort was renamed as Whitefish Mountain Resort
### ( ski_data.csv ) + (WFM_Whitefish_Mountain.ipynb) ---> ("ski_data_A.csv")
### -------------------------------------------------------------------------
import pandas as pd 

df = pd.read_csv("ski_data.csv") 

### print(df.head()) 
### print(df.tail())
### print(df.shape) 
### print(df.isna().sum(),'<--print(df.isna().sum()')
### print(df.isnull().sum(),'<--print(df.isnull().sum()')  

    ### select resorts in montana, & omit Big Mountain, because whitefish is renamed version in 2007
df2 = df [ ( df.state == 'Montana') & (df.Name != 'Big Sky Resort' )]

    ### Select only colums required to meet business goal: show extra value in services as the ticket is over the average resorts
df3 = df2[['Name','triple','double','surface','total_chairs','Runs','TerrainParks']]
df4 = df2[['LongestRun_mi','SkiableTerrain_ac', 'Snow Making_ac','averageSnowfall', 'AdultWeekday','AdultWeekend']]

df5 = pd.concat([df3,df4], axis=1)

### df5.drop(df5[' '], axis=1, inplace = True)  ### first column w/o name

print(df5.shape)
print(df5.head(13)) 
 

df5.to_csv("ski_data_A.csv") ### Abridged version based on business request)

(11, 13)
                            Name  triple  double  surface  total_chairs  \
141  Blacktail Mountain Ski Area       1       2        1             4
142                 Bridger Bowl       6       1        3            11
143           Discovery Ski Area       5       2        1             8
144                 Great Divide       0       5        1             6
145      Lost Trail - Powder Mtn       0       5        3             8
146            Maverick Mountain       0       1        1             2
147             Montana Snowbowl       0       2        2             4
148           Red Lodge Mountain       1       3        1             7
149             Showdown Montana       1       2        1             4
150        Teton Pass Ski Resort       0       1        2             3
151    Whitefish Mountain Resort       6       0        3            14

      Runs  TerrainParks  LongestRun_mi  SkiableTerrain_ac  Snow Making_ac  \
141   27.0           NaN            0.7             1000.0             NaN
142  105.0           2.0            1.5             2000.0           100.0
143   74.0           1.0            1.5             2400.0            25.0
144  110.0           6.0            3.0             1600.0           150.0
145   69.0           2.0            2.5             1800.0             NaN
146   22.0           NaN            1.3              255.0             NaN
147   37.0           NaN            1.2              950.0            20.0
148   70.0           2.0            2.5             1635.0           496.0
149   36.0           1.0            1.8              640.0             NaN
150   43.0           1.0            3.0              330.0             NaN
151  105.0           4.0            3.3             3000.0           600.0

     averageSnowfall  AdultWeekday  AdultWeekend
141            250.0          42.0          42.0
142            350.0          63.0          63.0
143            225.0          49.0          49.0
144            180.0          48.0          48.0
145            325.0          46.0          46.0
146            160.0          39.0          39.0
147            300.0          50.0          50.0
148            250.0          67.0          67.0
149            250.0          47.0          47.0
150            250.0          39.0          39.0
151            333.0          81.0          81.0